# gitingore for django
#

# Ignore database
*.sqlite3
*.sqlite3-journal
# Ignore static files
staticfiles/

# Ignore text files


# Ignore data folder
data/

# Ignore pycharm
.idea/

# Ignore pycache
__pycache__/
db.sqlite3-journal
